# COVID-19 Data Analysis Project

In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

plots_dir = "plots"
os.makedirs(plots_dir, exist_ok=True)

In [2]:
csv_path = "covid19_Confirmed_dataset.csv"
df_raw = pd.read_csv(csv_path)
df_raw.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/21/20,4/22/20,4/23/20,4/24/20,4/25/20,4/26/20,4/27/20,4/28/20,4/29/20,4/30/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,1092,1176,1279,1351,1463,1531,1703,1828,1939,2171
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,609,634,663,678,712,726,736,750,766,773
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,2811,2910,3007,3127,3256,3382,3517,3649,3848,4006
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,717,723,723,731,738,738,743,743,743,745
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,24,25,25,25,25,26,27,27,27,27

In [3]:
# Detect columns and reshape
df = df_raw.copy()

country_cols_candidates = ["Country/Region", "Country_Region", "Country", "location", "Location"]
country_col = None
for c in country_cols_candidates:
    if c in df.columns:
        country_col = c
        break
if country_col is None:
    non_date = [c for c in df.columns if c.lower() not in ["lat", "long", "longitude", "latitude"]]
    candidates = [c for c in non_date if df[c].dtype == object]
    if candidates:
        country_col = candidates[0]
    else:
        country_col = "Country"
        df[country_col] = "Unknown"

prov_candidates = ["Province/State", "Province_State", "State/Province", "State"]
prov_col = None
for c in prov_candidates:
    if c in df.columns:
        prov_col = c
        break

date_cols = []
for c in df.columns:
    if c in [country_col, prov_col, "Lat", "Long", "Latitude", "Longitude", None]:
        continue
    try:
        _ = pd.to_datetime(c, errors="raise", infer_datetime_format=True)
        date_cols.append(c)
    except Exception:
        pass

if not date_cols:
    potential = []
    for c in df.columns:
        if c not in [country_col, prov_col, "Lat", "Long", "Latitude", "Longitude"]:
            numeric_ratio = pd.to_numeric(df[c], errors="coerce").notna().mean()
            if numeric_ratio > 0.95:
                potential.append(c)
    date_cols = potential

id_vars = [country_col] + ([prov_col] if prov_col else [])
df_long = df.melt(id_vars=id_vars, value_vars=date_cols, var_name="Date", value_name="Confirmed")
df_long["Date"] = pd.to_datetime(df_long["Date"], errors="coerce")
df_long = df_long.dropna(subset=["Date"])
df_long["Confirmed"] = pd.to_numeric(df_long["Confirmed"], errors="coerce").fillna(0)

df_country = (
    df_long.groupby([country_col, "Date"], as_index=False)["Confirmed"]
    .sum()
    .sort_values(["Date", country_col])
)

df_country.head()

C:\Users\bhoum\AppData\Local\Temp\ipykernel_368\708431626.py:31: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  _ = pd.to_datetime(c, errors="raise", infer_datetime_format=True)
C:\Users\bhoum\AppData\Local\Temp\ipykernel_368\708431626.py:47: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_long["Date"] = pd.to_datetime(df_long["Date"], errors="coerce")

    Country/Region       Date  Confirmed
0      Afghanistan 2020-01-22          0
100        Albania 2020-01-22          0
200        Algeria 2020-01-22          0
300        Andorra 2020-01-22          0
400         Angola 2020-01-22          0

In [4]:
# Global totals and daily new cases
global_ts = (
    df_country.groupby("Date", as_index=False)["Confirmed"]
    .sum()
    .rename(columns={"Confirmed": "GlobalConfirmed"})
    .sort_values("Date")
)
global_ts["NewCases"] = global_ts["GlobalConfirmed"].diff().fillna(0)
global_ts["MA7_NewCases"] = global_ts["NewCases"].rolling(7, min_periods=1).mean()
latest_date = df_country["Date"].max()

global_ts.to_csv("global_timeseries.csv", index=False)
latest_by_country = (
    df_country[df_country["Date"] == latest_date]
    .sort_values("Confirmed", ascending=False)
    .reset_index(drop=True)
    .rename(columns={df_country.columns[0]: "Country", "Confirmed": "TotalConfirmed"})
)
latest_by_country.to_csv("top_countries_latest.csv", index=False)
latest_date, latest_by_country.head(10)

(Timestamp('2020-04-30 00:00:00'),
           Country       Date  TotalConfirmed
 0              US 2020-04-30         1069424
 1           Spain 2020-04-30          213435
 2           Italy 2020-04-30          205463
 3  United Kingdom 2020-04-30          172481
 4          France 2020-04-30          167299
 5         Germany 2020-04-30          163009
 6          Turkey 2020-04-30          120204
 7          Russia 2020-04-30          106498
 8            Iran 2020-04-30           94640
 9          Brazil 2020-04-30           87187)

In [5]:
# Plots (one per figure, default colors)
fig = plt.figure()
plt.plot(global_ts["Date"], global_ts["GlobalConfirmed"])
plt.title("Global Cumulative Confirmed Cases")
plt.xlabel("Date")
plt.ylabel("Total Confirmed")
plt.savefig(os.path.join(plots_dir, "global_cumulative.png"), bbox_inches="tight")
plt.close(fig)

fig = plt.figure()
plt.plot(global_ts["Date"], global_ts["NewCases"], label="Daily New Cases")
plt.plot(global_ts["Date"], global_ts["MA7_NewCases"], label="7-day MA")
plt.title("Global Daily New Cases")
plt.xlabel("Date")
plt.ylabel("New Cases")
plt.legend()
plt.savefig(os.path.join(plots_dir, "global_daily_new_cases.png"), bbox_inches="tight")
plt.close(fig)

top10 = latest_by_country.head(10)["Country"].tolist()
df_top10 = df_country[df_country[df_country.columns[0]].isin(top10)].copy()
pivot_top10 = df_top10.pivot(index="Date", columns=df_country.columns[0], values="Confirmed").sort_index()

fig = plt.figure()
for c in pivot_top10.columns:
    plt.plot(pivot_top10.index, pivot_top10[c], label=c)
plt.title("Top 10 Countries: Cumulative Confirmed")
plt.xlabel("Date")
plt.ylabel("Total Confirmed")
plt.legend()
plt.savefig(os.path.join(plots_dir, "top10_cumulative.png"), bbox_inches="tight")
plt.close(fig)

In [6]:
# India focus (if available)
country_focus = "India"
if country_focus in df_country[df_country.columns[0]].unique():
    india_ts = (
        df_country[df_country[df_country.columns[0]] == country_focus]
        .sort_values("Date")[["Date", "Confirmed"]]
        .rename(columns={"Confirmed": "IndiaConfirmed"})
        .reset_index(drop=True)
    )
    india_ts["NewCases"] = india_ts["IndiaConfirmed"].diff().fillna(0)
    india_ts["MA7_NewCases"] = india_ts["NewCases"].rolling(7, min_periods=1).mean()
    india_ts.to_csv("india_timeseries.csv", index=False)

    fig = plt.figure()
    plt.plot(india_ts["Date"], india_ts["IndiaConfirmed"])
    plt.title("India: Cumulative Confirmed Cases")
    plt.xlabel("Date")
    plt.ylabel("Total Confirmed")
    plt.savefig(os.path.join(plots_dir, "india_cumulative.png"), bbox_inches="tight")
    plt.close(fig)

    fig = plt.figure()
    plt.plot(india_ts["Date"], india_ts["NewCases"], label="Daily New Cases")
    plt.plot(india_ts["Date"], india_ts["MA7_NewCases"], label="7-day MA")
    plt.title("India: Daily New Cases")
    plt.xlabel("Date")
    plt.ylabel("New Cases")
    plt.legend()
    plt.savefig(os.path.join(plots_dir, "india_daily_new_cases.png"), bbox_inches="tight")
    plt.close(fig)